{% extends 'admin/simple/editor.html.twig' %}

{% block mainFields2 %}
    <div class="row">
	    <div class="col-xs-12">
			<img alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}" width="160" height="160" />
		</div>
	</div>
	
    {{ form_row(form.file, { 'label': 'label.image' }) }}
    
    {{ form_row(form.published, { 'label': 'label.' ~ gender ~ 'published' }) }}
{% endblock %}