{% extends 'admin/simple/index.html.twig' %}

{# Header section #}
{% block headerMainFields1 %}
	<th><i class="fa fa-photo"></i>{{ 'label.image'|trans }}</th>
{% endblock %}

{# Entry section #}
{% block entryMainFields1 %}
	<td>
		<div class="circle bkg-white" width="40" height="40">
			<img class="div-center img-{{ item.vertical ? 'v' : '' }}responsive"
				alt="{{ item.name }}" src="{{ asset(item.getImagePath()) }}" />
		</div>
	</td>
{% endblock %}	        
