{% extends 'admin/simple/index.html.twig' %}

{# Header section #}
{% block headerMainFields1 %}
	<th><i class="fa fa-photo"></i>{{ 'label.image'|trans }}</th>
{% endblock %}

{# Entry section #}
{% block entryMainFields1 %}
	<td>
		<div class="table-circle-30 bkg-white">
			{% if item.image %}
				<img class="div-center img-{{ item.vertical ? '' : 'v' }}responsive"
					alt="{{ item.name }}" src="{{ asset(item.getImagePath()) }}" />
			{% endif %}
		</div>
	</td>
{% endblock %}	        
