{% set class = class|default('') %}

<td class="{{ class }}">
	<i class="fa fa-{{ value ? iconTrue : iconFalse }}" data-toggle="tooltip" 
		title="{{ value ? tooltipTrue|trans : tooltipFalse|trans }}"></i>
</td>