{% set icon = icon|default('') %}
{% set label = label|default('') %}

<span data-toggle="tooltip" title="{{ tooltip ? tooltip|trans }}">
	{% if icon  %}
		<i class="fa fa-{{ icon }}"></i> 
	{% endif %} 
	{% if label %} 
		{{ label|trans }}
	{% endif %}
</span>