{% set numOfArticles = numOfArticles | default(6) %}
{% set colPush = colPush | default("col-sm-push-10") %}

<div class="row">
	<div class="col-sm-2 padding-5 {{ colPush }}">
		<h5 class="title">
			{% if articles|length >= numOfArticles %}
				<a href={{ path('infoprodukt_article', { category: entry.id, 
					article_filter_article_categories: [category.id] }) }} class="text-red">
					{{ 'label.more'|trans }}
				</a>
			{% else %}
				&nbsp
			{% endif %}
		</h5>
	</div>
</div>