{% set numOfArticles = numOfArticles | default(6) %}
{% set colMoreClass = colMoreClass | default("") %}

{% for article in articles | slice(0, numOfArticles) %}
	<div class="col-sm-2 padding-5 {{ colMoreClass }}">
		{% include 'common/tiles/article_bottom_rect_tile.twig' with { entryPath: "article",  
			entry: article, categoryId: entry.id, articleCategoryId: category.id } %}
	</div>
{% endfor %}