{% set numOfArticles = numOfArticles | default(6) %}
{% set bkgColor = bkgColor | default('bkg-black-50') %}
{% set showTitle = showTitle | default(false) %}

<div class="container">
	<div class="row">
		<h4 class="title padding-5">
			<span class="text-red">{{ category.name }}</span> 
			<span class="text-brand">{{ category.subname }}</span>
		</h4>
	</div>
	
	<div class="row">
		{% include "infoprodukt/category/articles_group.twig" with 
			{ numOfArticles: numOfArticles, bkgColor: bkgColor, showTitle: showTitle } %}
	</div>
	
	{% include 'infoprodukt/category/articles_more.twig' with 
		{ numOfArticles: numOfArticles } %}
</div>