{% set numOfArticles = numOfArticles | default(6) %}
{% set bkgColor = bkgColor | default('bkg-black-50') %}
{% set showTitle = showTitle | default(false) %}

<div class="container">
	<div class="row">
		<h4 class="title left-padding-5 no-more-padding">
			<span class="text-red">{{ category.name }}</span> 
			<span class="text-brand">{{ category.subname }}</span>
		</h4>
	</div>
	
	<div class="row">
		{% include "infoprodukt/category/articles_group.twig" %}
	</div>
	
	{% include 'infoprodukt/category/articles_more.twig' %}
</div>