{% extends 'infoprodukt/base/index.html.twig' %}

{% set title = 'Kategorie' %}
{% set mainPath = 'category' %}
		
{% block mainContent %}
	<div class="row">
		<div class="col-xs-12">
			{% for category in entries %}
				<div class="col-sm-3">
					{% include 'common/bottom_rect_tile.html.twig' with {'entry': category, 'entryPath': mainPath } %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
