{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'Kategorie' %}
{% set mainPath = 'category' %}
		
{% block content %}
	<div class="container">
		<div class="col-xs-12 well">
			{% for entry in branches %}
			<div class="row">
				<div class="col-xs-12">
					<h1>{{ entry.name | raw }}</h1>
					
					{% for subentry in categories %}
						{% set visible = false %}
						{% for branch in subentry.branches %}
							{% if branch.branch.id == entry.id %}
								{% set visible = true %}
							{% endif %}
						{% endfor %}
						
						{% if visible %}
							<div class="col-sm-3">
								{% include 'common/bottom_rect_tile.html.twig' with {'entry': subentry, 'entryPath': mainPath } %}
							</div>
						{% endif %}
					{% else %}
						<p>{{ 'label.noEntries'|trans }}</p>
					{% endfor %}		
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
