{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'Kategorie' %}
{% set mainPath = 'category' %}
		
{% block content %}
	<div class="container">
		<div class="col-xs-12 well">
			{% for entry in branches %}
			<div class="row">
				<div class="col-xs-12">
					<h2>{{ entry.name | raw }}</h2>
					
					{% for subentry in attribute(allCategories, entry.id) %}
						<div class="col-sm-3">
							{% include 'common/bottom_rect_tile.html.twig' with {'entry': subentry, 'entryPath': mainPath } %}
						</div>
					{% else %}
						<p>{{ 'label.noEntries'|trans }}</p>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
