{% set bkgColor = bkgColor | default('bkg-black-50') %}
{% set showTitle = showTitle | default(false) %}

{% if entry.magazineCategoryAssignments|length > 0 %}	
	{% set magazine = entry.magazineCategoryAssignments|first.magazine %}
	
	<div class="container">
		<div class="row lifted-top">
			{% block magazineBlock %}
				<div class="col-sm-2 col-sm-push-10 padding-5">
					{% include 'common/tiles/magazine_tile.twig' with { entry: magazine, 
						magazineTitle: 'label.magazine.download'|trans, 
						magazineSubtitle: 'label.magazine.currentNumber'|trans } %}
				</div>
			{% endblock %}
			
			{% include 'infoprodukt/category/articles_group.twig' with { colMoreClass: "col-sm-pull-2", 
				alternate: true, category: mainCategory, articles: mainArticles, numOfArticles: 10 } %}
		</div>
		
		{% include 'infoprodukt/category/articles_more.twig' with 
			{ category: mainCategory, articles: mainArticles, numOfArticles: 10, entriesPerRow: 5 } %}
	</div>
{% else %}
	<div class="container">
		<div class="row lifted-top">
			{% include 'infoprodukt/category/articles_group.twig' with 
				{ alternate: true, category: mainCategory, articles: mainArticles, numOfArticles: 12 } %}
		</div>
		
		
		{% include 'infoprodukt/category/articles_more.twig' with 
			{ category: mainCategory, articles: mainArticles, numOfArticles: 12 } %}
	</div>
{% endif %}