{% set bkgColor = bkgColor | default('bkg-black-50') %}
{% set showTitle = showTitle | default(false) %}

<div class="container">
	<div class="row">
		{% if promotionsArticles|length > 0 %}
			<div class="col-sm-10 no-padding">
				<h4 class="title no-horizontal-padding no-more-padding">
					<span class="text-red">{{ promotionsCategory.name }}</span> 
					<span class="text-brand">{{ promotionsCategory.subname }}</span>
				</h4>
			</div>
		{% endif %}
		
		<div class="col-sm-2 no-padding">
			<h4 class="title no-horizontal-padding no-more-padding">
				<span class="text-red">{{ 'label.subcategories'|trans }}</span>
			</h4>
		</div>
	</div>
	
	<div class="row">
		{% if promotionsArticles|length > 0 %}
			{% include 'infoprodukt/category/articles_group.twig' with 
				{ category: promotionsCategory, articles: promotionsArticles, numOfArticles: 5 } %}
				
			{% set colPush = 2 * (5 - promotionsArticles|length) %}
		{% else %}
			{% set colPush = 0 %}
		{% endif %}
		
		<div class="col-sm-2 padding-5 {{ colPush > 0 ? "col-sm-push-" ~ colPush : "" }}">
			{% include 'common/tiles/bottom_rect_tile.twig' with { 
				entry: category, entryPath: 'category', extPath: '_show', 
				tileSubtitle: "label.subcategories" | trans, 
				routeParams: { category: category.id, top_products: 1 } } %}
		</div>
	</div>
	
	{% if promotionsArticles|length > 0 %}
		{% include 'infoprodukt/category/articles_more.twig' with 
			{ category: promotionsCategory, articles: promotionsArticles, numOfArticles: 5 } %}
	{% endif %}
</div>