{% form_theme categoryFilterForm 'form/fields.html.twig' %}

{{ form_start(categoryFilterForm) }}
	<div class="col-xs-12">
		{{ form_row(categoryFilterForm.category) }}
	</div>
	<div class="col-xs-12">
		{{ form_row(categoryFilterForm.submit, { 'icon': 'fa-check', 'label': 'action.submit', 
			'attr': {'class': 'btn btn-success'} }) }}
	</div>		
{{ form_end(categoryFilterForm) }}