{% form_theme categoryFilter 'form/fields.html.twig' %}

{{ form_start(categoryFilter) }}
	<div class="col-xs-12">
		{{ form_row(categoryFilter.category) }}
	</div>
	<div class="col-xs-12">
		{{ form_row(categoryFilter.submit, { 'icon': 'fa-check', 'label': 'action.submit', 
			'attr': {'class': 'btn btn-success'} }) }}
	</div>		
{{ form_end(categoryFilter) }}