{% form_theme subcategoryFilterForm 'form/fields.html.twig' %}

{{ form_start(subcategoryFilterForm) }}
	<div class="col-xs-12">
		{{ form_row(subcategoryFilterForm.subcategory) }}
	</div>
	<div class="col-xs-12">
		{{ form_row(subcategoryFilterForm.submit, { 'icon': 'fa-check', 'label': 'action.submit', 
			'attr': {'class': 'btn btn-success'} }) }}
	</div>	
{{ form_end(subcategoryFilterForm) }}