{% extends 'admin/base/index.html.twig' %}

{% set mainPath = 'menu_menu_entry_assignment' %}
{% set title = 'title.menuMenuEntryAssignments'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.menus, { 'label': 'label.menus' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.menuEntries, { 'label': 'label.menuEntries' }) }}
	</li>
{% endblock %}

{% block headerMainFields1 %}
	<th><i class="fa fa-"></i> {{ 'label.menu'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.menuEntry'|trans }}</th>
{% endblock %}

{% block entryMainFields1 %}
	<td>
		{% include 'common/links/readonly_link.html.twig' with { type: 'menu', value: { id: item.menuId, name: item.menuName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'menu_entry', value: { id: item.menuEntryId, name: item.menuEntryName } } %}
	</td>
{% endblock %}