<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<strong>{{ label | trans }}: </strong>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-9">
		<p style="color: {{ value }}">{{ value }}</p>
	</div>
</div>