<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<strong>{{ label }}: </strong>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-9">
		{% if value > date("01-01-1900") %}
			{{ value | date('d.m.Y H:i:s') }}
		{% else %}
			-
		{% endif %}
	</div>
</div>