{% extends 'infoprodukt/base/index.html.twig' %}

{% set title = 'title.products'|trans %}
{% set mainPath = 'product' %}
		
{% block mainContent %}
	{% block products %}
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ 'title.products'|trans }}</h1>
			
			{% for entry in entries %}
				<div class="col-sm-3">
					{% include 'common/default_tile.html.twig' with {entry: entry, entryPath: 'product', routeParams: { category: category is defined ? category.id : null } } %}
				</div>
			{% else %}
				<p>{{ 'label.noEntries'|trans }}</p>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
	
	{% block paginator %}
	<div class="row">
		<div class="col-xs-12">
	        {{ knp_pagination_render(entries) }}
		</div>
	</div>
	{% endblock %}
{% endblock %}
