{% extends 'infomarket/base/index.html.twig' %}

{% set title = 'label.magazines'|trans %}
{% set type = 'label.magazines'|trans %}
{% set mainPath = 'magazine' %}
		
{% block mainContent %}
	{% block magazines %}
	<div class="row">
		{% for entry in entries %}
			<div class="col-sm-3 padding-5">
				{% include 'common/tiles/magazine_tile.html.twig' with { entry: entry, magazineLink: path(basePath ~ mainPath ~ '_show', { id: entry.id }) } %}
			</div>
		{% endfor %}
	</div>
	{% endblock %}
	
	{% block paginator %}
	<div class="row">
		<div class="col-xs-12">
	        {{ knp_pagination_render(entries) }}
		</div>
	</div>
	{% endblock %}
	
{% endblock %}
