{% extends 'infoprodukt/base/base.html.twig' %}

{% block moreBreadcrumbs%}
	
	{% set categoryId = null %}
	{% if category is defined %}
		{% set category = category.parent and category.parent.preleaf ? category.parent : category %}
		/ 
		<a href="{{ path(basePath ~ 'category_show', { id: category.id, category: category.id }) }}">
			{{ category.name }} {{ category.subname }}
		</a>
	{% endif %}
	
	{% block moreMoreBreadcrumbs%}
	{% endblock %}
	
{% endblock %}
