{% extends 'benchmark/__site/index.html.twig' %}

{% set mainPath = 'benchmark' %}
{% set title = 'label.benchmark'|trans %}

{% block content %}
	<div class="container">
		<h1>{{ 'title.benchmark.welcome'|trans }}</h1>
		<p>{{ 'message.benchmark.welcome'|trans }}</p>
		
		{# TODO widok kategorii #}
	</div>
{% endblock %}