{% extends 'admin/_simple/show.html.twig' %}

{% set mainPath = 'menu_entry' %}
{% set title = 'label.menuEntries'|trans %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name } %}
{% endblock %}

{% block contentFields %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.menuEntry.parent', value: entry.parent, 
		object: 'menu_entry', routeId: entry.id } %}
		
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.orderNumber', value: entry.orderNumber } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.menuEntry.page', value: entry.page, 
		object: 'page', routeId: entry.id } %}
		
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.menuEntry.link', value: entry.link, 
		object: 'link', routeId: entry.id } %}
		
	<div class="vr-space-40"></div>
	
	{% include 'admin/_simple/components/show/audit_fields.twig' %}
{% endblock %}

{% block assignments %}
	{% include 'admin/menu_entry/components/assignments.html.twig' %}
{% endblock %}