<tr>
	<th class="text-right">{{ field.fieldName }}</th>
	<td class="text-center">{{ field.count }}</td>
	<td class="text-center">{{ field.percent|number_format(0, '.', ' ') }}%</td>
	<td class="text-center">
		{% include 'benchmark/category/components/chart_button.html.twig' %}
	</td>
</tr>