{% if field.chart %}
	<a href="#" class="btn btn-primary {{ field.valueField }}_pop" 
		data-target="tooltip" title="{{ 'action.show'|trans }}">
		<span class="fa fa-bar-chart"></span>
	</a>
{% endif %}