<tr>
	<th class="text-right">{{ field.fieldName }}</th>
	<td class="text-center">{{ field.values }}</td> {# TODO make redirection to #}
	<td class="text-center">
		{% include 'benchmark/category/components/chart_button.html.twig' %}
	</td>
</tr>