{% extends 'admin/base/index.html.twig' %}

{% set mainPath = 'advert_category_assignment' %}
{% set title = 'title.advert_category_assignments'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.categories, { 'label': 'label.categories' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.adverts, { 'label': 'label.adverts' }) }}
	</li>
{% endblock %}

{% block headerMainFields1 %}
	<th><i class="fa fa-photo"></i> {{ 'label.advert'|trans }}</th>
	<th><i class="fa fa-list"></i> {{ 'label.category'|trans }}</th>
{% endblock %}

{% block entryMainFields1 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'advert', value: { id: item.advertId, name: item.advertName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'category', value: { id: item.categoryId, name: item.categoryName } } %}
	</td>
{% endblock %}