{% block header %}
<div class="row">
	<div class="col-xs-8">
		<h3>{{ category.name }} {{ category.subname }}</h3>
	</div>
	
	<div class="col-xs-4 padding-5">
		<a class="btn btn-success toggle" data-parent="#categoryAccordion" href="#categoryFilter" 
			data-toggle="collapse" title="{{ 'action.showCategoryFilter'|trans }}">
			<i class="fa fa-star"></i>
		</a>
		<a class="btn btn-warning toggle" data-parent="#extendedAccodrion" href="#extendedFilter"
			data-toggle="collapse" title="{{ 'action.showExtendedFilter'|trans }}">
			<i class="fa fa-filter"></i>
		</a>
	</div>
</div>
{% endblock %}

<div class="panel-group" id="categoryAccordion">
	<div id="categoryFilter" class="accordion-body collapse">
		{% block categoryFilterForm %}
			{% include 'benchmark/common/form/category_filter.twig' %}
		{% endblock %}
		
		{% block subcategoryFilterForm %}
			{% include 'benchmark/common/form/subcategory_filter.twig' %}
		{% endblock %}
	</div>
</div>

{% block productFilterForm %}		
	{% include 'benchmark/common/form/product_filter.twig' %}
{% endblock %}

<script type="text/javascript">$("#categoryFilter").collapse("hide");</script>