{% block header %}
<div class="col-xs-12">
	<h3>{{ category.name }} {{ category.subname }}</h3>
</div>
{% endblock %}

{% block categoryFilterForm %}
	{% include 'benchmark/common/form/category_filter.twig' %}
{% endblock %}

{% block subcategoryFilterForm %}
	{% include 'benchmark/common/form/subcategory_filter.twig' %}
{% endblock %}

{% block productFilterForm %}		
	{% include 'benchmark/common/form/product_filter.twig' %}
{% endblock %}