{% extends 'infomarket/show.html.twig' %}

{% block sideContent1 %}
	
{% endblock %}
		
{% block mainContent %}
	<h3 class="title">{{ entry.name }}</h3>
			
	<p class="text-muted">
		<span class="fa fa-calendar"></span> {{ branch.updatedAt|date("d.m.Y") }}
		<span class="hr-space"></span>
		<span class="fa fa-user"></span> {{ branch.updatedBy }}
	</p>
{% endblock %}
