{% extends 'admin/simple/show.html.twig' %}

{% set mainPath = 'benchmark_enum' %}
{% set title = 'label.benchmarkEnums'|trans %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name } %}
{% endblock %}

{% block contentFields %}
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.benchmarkEnum.value', value: entry.value } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/simple/components/show/audit_fields.twig' %}
{% endblock %}