{% extends 'admin/index.html.twig' %}

{% set extPath = '_show' %}

{% block content %}
	<div class="container">
		{% block moreFields1 %}
		{% endblock %}
		
	    {% block mainFields1 %}
		{% endblock %}
		
		{% block moreFields2 %}
		{% endblock %}
		
		{% block mainFields2 %}
		{% endblock %}
		
		{% block moreFields3 %}
		{% endblock %}
		
		{% block auditFields %}
		{% endblock %}
	    
	    {% block actions %}
		{% endblock %}
	</div>
{% endblock %}