{% extends 'admin/index.html.twig' %}

{% set extPath = '_show' %}

{% block content %}
	<div class="container">
	
		{% block errorsBlock %}
			{% if errors %}
				<div class="row">
					<div class="col-xs-12">
		                {% for error in errors %}
		                    <div class="alert alert-danger">
		                        {{ error }}
		                    </div>
		                {% endfor %}
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		{% block moreFields1 %}
		{% endblock %}
		
	    {% block mainFields1 %}
		{% endblock %}
		
		{% block moreFields2 %}
		{% endblock %}
		
		{% block mainFields2 %}
		{% endblock %}
		
		{% block moreFields3 %}
		{% endblock %}
		
		{% block auditFields %}
		{% endblock %}
	    
	    <div class="row lowered-25">
			<div class="col-xs-12">
				<p>
					{% block moreActions1 %}
					{% endblock %}
				    
					{% block mainActions %}
					{% endblock %}
					
					{% block moreActions2 %}
					{% endblock %}
				</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			{% if entry.id %}
				{% block assignments %}
		    	{% endblock %}
	    	{% endif %}
		</div>
	</div>
{% endblock %}