{% extends 'benchmark/_image/show.html.twig' %}

{% set title = title|default('label.products') %}
{% set mainPath = 'custom_product' %}
{% set gender = 'm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.brand.name ~ ' ' ~ entry.name } %}
{% endblock %}


{% block contentFields %}
	{% include 'benchmark/_image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.brand', value: entry.brand.name } %}
	
	{% include 'common/fields/number_field.html.twig' with 
	{ label: 'label.product.price', value: entry.price } %}
	
	<div class="vr-space-40"></div>
	
	{% block productFilterForm %}	
		{% include 'admin/product/components/product_filter.twig' %}
	{% endblock %}
{% endblock %}

{% block actions %}
	{% include 'benchmark/custom_product/components/show/actions.twig' %}
{% endblock %}