{% extends 'admin/featured/index.html.twig' %}

{% set mainPath = 'article_category' %}
{% set title = 'title.article_categories'|trans %}

{% block headerMoreFields1 %}
	<th><i class="fa fa-tag"></i> {{ 'label.subname'|trans }}</th>
{% endblock %}

{% block entryMoreFields1 %}
	<td>{{ item.subname }}</td>
{% endblock %}