{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'article_category' %}
{% set title = 'title.article_categories'|trans %}
{% set gender = 'fm.' %}

{% block moreFields3 %}
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<strong>{{ 'label.fm.featured'|trans }}: </strong>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-9">
			<p class="{{ entry.featured ? 'text-green' : 'text-red' }}">
				{{ entry.featured ? 'label.yes'|trans : 'label.no'|trans }}
			</p>
		</div>
	</div>
{% endblock %}