{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'article_category' %}
{% set title = 'title.article_categories'|trans %}
{% set gender = 'fm.' %}

{% block moreFields2 %}
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ entry.subname | raw }}</h4>
		</div>
	</div>
{% endblock %}

{% block moreFields3 %}
	{% include 'common/fields/bool_field.html.twig' with 
		{ 'label': ('label.' ~ gender ~ 'featured')|trans, 'value': entry.featured } %}
		
	{% include 'common/fields/bool_field.html.twig' with 
		{ 'label': ('label.infomarket')|trans, 'value': entry.infomarket } %}
		
	{% include 'common/fields/bool_field.html.twig' with 
		{ 'label': ('label.infoprodukt')|trans, 'value': entry.infoprodukt } %}
	
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.orderNumber'|trans, 'value': entry.orderNumber } %}
{% endblock %}