{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'article_category' %}
{% set title = 'label.article_categories'|trans %}
{% set gender = 'fm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name ~ ' ' ~ entry.subname } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'featured', value: entry.featured } %}

	<div class="vr-space-40"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.orderNumber', value: entry.orderNumber } %}
	
	<div class="vr-space-40"></div>
		
	{% include 'admin/simple/components/show/audit_fields.twig' %}
{% endblock %}