{% if entry.featured %}
	<a href="{{ path('infomarket_product', { 'branches': branches, 'branch': branch, 'category': entry.id }) }}">
		{{ entry.name }}
	</a>
	<br>
{% endif %}
{% for child in entry.getChildren() %}
	{% include 'common/footer_entry.html.twig' with {'entry': child } %} 
{% endfor %}