{% if entry.getChildren()|length > 0 %}
	<li class="row-fluid">
		<label class="tree-toggle nav-header">{{ entry.name }}  ({{ entry.getChildren()|length }})</label>
		<ul class="nav-list tree collapse"> {# in #} {# nav psuje!!! #}
			{% for child in entry.getChildren() %}
				{% include 'common/menu_entry.html.twig' with {'entry': child } %} 
			{% endfor %}
		</ul>
	</li>
{% else %}
	<li><a href="{{ path('infomarket_' ~ mainPath, { 'branches': branches, 'branch': branch.name, 'category': entry.name }) }}">{{ entry.name }}</a></li>
{% endif %}