{% extends 'admin/simple/editor.html.twig' %}

{% set mainPath = 'benchmark_field' %}
{% set title = 'title.benchmarkFields'|trans %}


{% block headerFields %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.category, label: 'label.category' } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.fieldType, label: 'label.benchmarkField.fieldType', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.valueNumber, label: 'label.benchmarkField.valueNumber', sm: 6 } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.fieldName, label: 'label.benchmarkField.fieldName', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.fieldNumber, label: 'label.benchmarkField.fieldNumber', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.showField, label: 'label.benchmarkField.showField' } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.filterName, label: 'label.benchmarkField.filterName', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.filterNumber, label: 'label.benchmarkField.filterNumber', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.showFilter, label: 'label.benchmarkField.showFilter' } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.noteType, label: 'label.benchmarkField.noteType', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.noteWeight, label: 'label.benchmarkField.noteWeight', sm: 6 } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.betterThanType, label: 'label.benchmarkField.betterThanType', sm: 6 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.compareWeight, label: 'label.benchmarkField.compareWeight', sm: 6 } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.decimalPlaces, label: 'label.benchmarkField.decimalPlaces' } %}
{%  endblock %}