{% extends 'benchmark/index.html.twig' %}

{% set mainPath = 'product' %}
{% set title = title|default('title.products')|trans %}
	
{% block content %}
	{% set half = entries|length/2 %}

	<div class="container-fluid">
		<div class="row">
			{% block mainContent %}
				<table class="table table-striped vert-align">
					<tbody>
						{% include 'benchmark/product/components/compare/table_header.html.twig' %}
						
						{% include 'benchmark/product/components/compare/table_images.html.twig' %}
						{% include 'benchmark/product/components/compare/table_brands.html.twig' %}
						{% include 'benchmark/product/components/compare/table_names.html.twig' %}
						{% include 'benchmark/product/components/compare/table_prices.html.twig' %}
						
						{% include 'benchmark/product/components/compare/table_benchmark_fields.html.twig' %}
						
						{% include 'benchmark/product/components/compare/table_actions.html.twig' %}
					</tbody>
				</table>
			{% endblock %}
		</div>
	</div>
{% endblock %}
