{% extends 'benchmark/__site/index.html.twig' %}

{% set mainPath = 'product' %}
{% set title = title|default('label.products')|trans %}
	
{% block content %}
	<div class="container-fluid">
		<div class="row equal">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 side-filter">
				{% block sidebar %}
					{% include 'benchmark/product/components/show/sidebar.html.twig' %}
				{% endblock %}	
			</div>
			
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 main-content">
				{% block mainContent %}
					<div class="row">
						<table class="table table-striped vert-align">
							{% include 'benchmark/product/components/show/table_header.html.twig' %}
							
							{% include 'benchmark/product/components/show/price_table_row.html.twig' with { value: entry.price} %}
							
							{% for field in benchmarkFields %}
								{% set key = field.valueField %}
								{% if field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::DECIMAL_FIELD_TYPE') or 
										field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::INTEGER_FIELD_TYPE') %}
									{% include 'benchmark/product/components/show/price_table_row.html.twig' with { value: entry[key] } %}
								{% elseif field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::BOOLEAN_FIELD_TYPE') %}
									{% include 'benchmark/product/components/show/bool_table_row.html.twig' with { value: entry[key] } %}
								{% elseif field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::SINGLE_ENUM_FIELD_TYPE') or
											field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::MULTI_ENUM_FIELD_TYPE') %}
									{% include 'benchmark/product/components/show/enum_table_row.html.twig' with { value: entry[key] } %}
								{% else %}
									{% include 'benchmark/product/components/show/text_table_row.html.twig' with { value: entry[key] } %}
								{% endif %}
							{% endfor %}
						</table>
					</div>
				{% endblock %}
				
				<div class="vr-space-40"></div>
			</div>
		</div>
	</div>
{% endblock %}