{% extends 'admin/simple/index.html.twig' %}

{% set mainPath = 'product_category_assignment' %}
{% set title = 'title.product_category_assignments'|trans %}

{% block filterMainFields1 %} {# should be in base/list.html.twig #}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.published, { 'label': 'label.published' }) }}
	</li>
{% endblock %}

{% block headerMainFields1 %}
{% endblock %}

{% block entryMainFields1 %}
{% endblock %}