{% extends 'admin/_image/show.html.twig' %}

{% set title = 'label.products'|trans %}
{% set mainPath = 'product' %}
{% set gender = 'm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.brand.name ~ ' ' ~ entry.name } %}
{% endblock %}
	
{% block contentFields %}
	{% include 'admin/_image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/show/custom_image.twig' with 
	{ image: entry.topProduktImage } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.brand', value: entry.brand, object: 'brand' } %}
	
	{% include 'common/fields/number_field.html.twig' with 
	{ label: 'label.product.price', value: entry.price } %}
	
	<div class="vr-space-40"></div>
	
	{% block categoryFilterForm %}	
		{% include 'admin/product/components/category_filter.twig' %}
	{% endblock %}
	
	{% block productFilterForm %}	
		{% include 'admin/product/components/product_filter.twig' %}
	{% endblock %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/_simple/components/show/audit_fields.twig' %}
{% endblock %}

{% block assignments %}
	{% include 'admin/product/components/assignments.html.twig' %}
{% endblock %}