{% extends 'admin/simple/index.html.twig' %}

{% set mainPath = 'term' %}
{% set title = 'title.terms'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.categories, { 'label': 'label.categories' }) }}
	</li>
{% endblock %}