{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'branch' %}
{% set title = 'title.branches'|trans %}
{% set gender = 'fm.' %}

{% block moreFields3 %}
	
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ 'label.content'|trans }}</h4>
		</div>
		<div class="col-xs-12">
			{{ entry.content | raw }}
		</div>
	</div>
	
	<div class="lowered-25"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ 'label': 'label.icon'|trans, 'value': entry.icon } %}
	
	{% include 'common/fields/color_field.html.twig' with 
	{ 'label': 'label.color'|trans, 'value': entry.color } %}
	
{% endblock %}