{% extends 'admin/_image/show.html.twig' %}

{% set mainPath = 'branch' %}
{% set title = 'label.branches'|trans %}
{% set gender = 'fm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/_image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.icon'|trans, value: entry.icon } %}
	
	{% include 'common/fields/color_field.html.twig' with 
	{ label: 'label.color'|trans, value: entry.color } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.orderNumber'|trans, value: entry.orderNumber } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/content_field.html.twig' with 
	{ label: 'label.content', value: entry.content } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/_simple/components/show/audit_fields.twig' %}
{% endblock %}