<div class="btn-group {{ hidden }} padding-5">
	{% include 'common/buttons/widget_button.html.twig' with 
		{ action: form.imPublishSelected, icon: 'fa-check', 
			tooltip: 'action.imPublishSelected' } %}
	
	{% include 'common/buttons/widget_button.html.twig' with 
		{ action: form.imUnpublishSelected, icon: 'fa-remove', 
			tooltip: 'action.imUnpublishSelected' } %}
</div>