{% extends 'infomarket/simple/show.html.twig' %}

{% block sideContent1 %}
	
{% endblock %}
		
{% block mainContent %}
	<img class="img-responsive lowered" src="{{ asset(entry.getImagePath()) }}">
        	
	<h3 class="title">{{ entry.name }}</h3>
			
	<p class="text-muted">
		<span class="fa fa-calendar"></span> {{ branch.updatedAt|date("Y-m-d") }}
		<span class="hr-space"></span>
		<span class="fa fa-user"></span> {{ branch.updatedBy }}
	</p>
{% endblock %}
