{% extends 'admin/image/index.html.twig' %}

{% set mainPath = 'page' %}
{% set title = 'title.pages'|trans %}

{% block headerMoreFields2 %}
	<th><i class="fa fa-star"></i>{{ 'label.featured'|trans }}</th>
{% endblock %}

{% block entryMoreFields2 %}
	<td>
		{% include 'common/fields/bool_action_field.html.twig' with 
			{ 'id': item.id, 'value': item.featured, 'extPath': '_set_featured',
				'trueTooltip': 'label.featured'|trans, 'falseTooltip': 'label.notFeatured'|trans,
				'trueIcon': 'fa-star', 'falseIcon': 'fa-star-o' } %}
	</td>
{% endblock %}