{% extends 'infoprodukt/base/index.html.twig' %}

{% set title = 'label.magazines'|trans %}
{% set mainPath = 'magazine' %}

{% set listName = 'label.magazines'|trans %}
		
{% block mainContent %}
	{% block magazines %}
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ 'label.magazines'|trans }}</h1>
			
			{% for entry in entries %}
				<div class="col-sm-3 padding-5">
					{% include 'common/tiles/magazine_tile.html.twig' with { entry: entry } %}
				</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
	
	{% block paginator %}
	<div class="row">
		<div class="col-xs-12">
        	{{ knp_pagination_render(entries) }}
		</div>
	</div>
	{% endblock %}
{% endblock %}
