{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'brand' %}
{% set title = 'label.brands'|trans %}
{% set gender = 'fm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/url_field.html.twig' with 
	{ label: 'label.www'|trans, value: entry.www } %}
	
	{% include 'common/fields/content_field.html.twig' with 
	{ label: 'label.content', value: entry.content } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/simple/components/show/audit_fields.twig' %}
{% endblock %}

{% block assignments %}
	{% include 'admin/brand/components/assignments.html.twig' %}
{% endblock %}