{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'segment' %}
{% set title = 'title.segments'|trans %}
{% set gender = 'm.' %}

{% block moreFields2 %}
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ entry.subname | raw }}</h4>
		</div>
	</div>
{% endblock %}

{% block moreFields3 %}
	{% include 'common/fields/color_field.html.twig' with 
	{ 'label': 'label.color'|trans, 'value': entry.color } %}
	
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ 'label.content'|trans }}</h4>
		</div>
		<div class="col-xs-12">
			{{ entry.content | raw }}
		</div>
	</div>
{% endblock %}