{% extends 'admin/_image/show.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'label.categories'|trans %}
{% set gender = 'fm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name ~ ' ' ~ entry.subname } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/_image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/show/custom_image.twig' with 
	{ image: entry.featuredImage} %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/show/custom_image.twig' with 
	{ image: entry.iconImage} %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'featured', value: entry.featured } %}
		
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.category.preleaf', value: entry.preleaf } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.category.benchmark', value: entry.benchmark } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.category.parent', value: entry.parent,
		object: 'category' } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.orderNumber'|trans, value: entry.orderNumber } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.icon', value: entry.icon } %}
	
	{% include 'common/fields/content_field.html.twig' with 
	{ label: 'label.content', value: entry.content } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/_simple/components/show/audit_fields.twig' %}
{% endblock %}

{% block actions %}
	{% include 'admin/category/components/show/actions.twig' %}
{% endblock %}

{% block assignments %}
	{% include 'admin/category/components/assignments.html.twig' %}
{% endblock %}