{% extends 'admin/show.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'title.categories'|trans %}

{% block aaa %}
	<tr>
		<th>{{ 'label.description'|trans }} </th>
		<td>{%if entry.parent.name is defined %}{{ entry.parent.name }} {% endif %}</td>
	</tr>
{% endblock %}