{% extends 'admin/__site/index.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'label.categories'|trans %}


{% block javascript %}
	{% include 'admin/category/components/tree/javascript.twig' %}
{% endblock %}

{% block content %}
	<div class="vr-space-40"></div>
	
	<div class="container">
		<ul class="nav-tree">
			{% for entry in entries %}
				{% include 'common/category_node.html.twig' with { 'entry': entry } %}
			{% endfor %}
		</ul>
	</div>
{% endblock %}