{% extends 'infomarket/base/product/index.html.twig' %}

{% set title = 'title.terms'|trans %}
{% set mainPath = 'term' %}

{% block mainPanelContent %}
	<ul class="thumbnails" id="hover-cap-4col">
		{% for entry in entries %}
			<li class="col-sm-3">
				<a href="{{ path('infomarket_' ~ mainPath ~ '_show', {'branch': branch.name, 'id': entry.id }) }}">{{ entry.name }}</a>
			</li>
		{% else %}
			No entries found.
		{% endfor %}
	</ul>
{% endblock %}