{% extends 'benchmark/index.html.twig' %}

{% set title = title|default('label.categories') %}
{% set mainPath = 'category' %}
{% set extPath = '_show' %}
	
{% block moreJavascripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
	
{% block content %}
	<div class="container-fluid">

		<div class="row equal">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 side-filter">
				{% block sidebar %}
					{% include 'benchmark/category/components/sidebar.twig' %}
				{% endblock %}
			</div>
			
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 main-content">
				{% if entry.preleaf %}
					{% include 'benchmark/category/show_category.html.twig' %}
				{% else %}
					{% include 'benchmark/category/show_subcategory.html.twig' %}
				{% endif %}
			</div>	
		</div>
	</div>
{% endblock %}
