<div class="row padding-5">
	{% for subentry in subcategories %}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 padding-5">
			{% include 'benchmark/category/components/category_bottom_rect_tile.twig' with 
				{entry: subentry, entryPath: 'category', routeParams: { subcategory: subentry.id } } %}
		</div>
	{% endfor %}
	
	<div class="vr-space-40"></div>
</div>