<div class="row">
	<div class="col-xs-6">
		{% include 'admin/base/components/editor/actions.twig' %}
	</div>
	
	<div class="col-xs-6">
		{% if entry.id %}
			{% include 'admin/common/editor/action_button.twig' with 
				{ extPath: '_ratings', routeParams: { id: entry.id }, 
					tooltip: 'label.rating.topProducts', icon: 'fa-star' } %}
		{% endif %}
	</div>
</div>