{% extends 'admin/index.html.twig' %}

{% set title = 'title.site'|trans %}
{% set mainPath = 'site' %}

{% block body %}
	<div class="content welcome">
		<div class="container center">
			{% if error is defined and error %}
		    	<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			
			{% block fos_user_content %}
			{% endblock fos_user_content %}
		</div>
	</div>
{% endblock %}