{% extends 'admin/__site/base.html.twig' %} {% block body %}
<div class="content welcome">
	<div class="container center">
		{% if error is defined and error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %} 
		
		{% block fos_user_content %} 
		{% endblock %}
	</div>
</div>
{% endblock %}
