<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-primary" rel="nofollow" href="{{ path(basePath ~ mainPath) }}">
			<span class="fa fa-arrow-circle-o-left"></span> {{ 'action.back' | trans }}
		</a>
		<a class="btn btn-primary pull-right" rel="nofollow" href="#">
			<span class="fa fa-arrow-circle-o-up"></span> {{ 'action.toTop' | trans }}
		</a>
	</div>
</div>