{% extends 'admin/simple/index.html.twig' %}

{% set title = 'title.newsletterBlocks'|trans %}
{% set mainPath = 'newsletter_block' %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.newsletterPages, { 'label': 'label.choose.newsletterPages' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.newsletterBlockTemplates, { 'label': 'label.choose.newsletterBlockTemplates' }) }}
	</li>
{% endblock %}

{% block headerMoreFields3 %}
	<th><i class="fa fa-file-o"></i> {{ 'label.newsletterPage'|trans }}</th>
	<th><i class="fa fa-file-o"></i> {{ 'label.newsletterBlockTemplate'|trans }}</th>
{% endblock %}

{% block entryMoreFields3 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { 'type': 'newsletter_page', 'value': { id: item.newsletterPageId, name: item.newsletterPageName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { 'type': 'newsletter_block_template', 'value': { id: item.newsletterBlockTemplateId, name: item.newsletterBlockTemplateName } } %}
	</td>
{% endblock %}