{% extends 'admin/simple/show.html.twig' %}

{% set title = 'title.newsletterBlocks'|trans %}
{% set mainPath = 'newsletter_block' %}
{% set gender = 'm.' %}

{% block moreFields2 %}
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ entry.subname | raw }}</h4>
		</div>
	</div>
{% endblock %}

{% block moreFields3 %}
	{% include 'common/fields/simple_field.html.twig' with 
		{ 'label': 'label.newsletterPage', 'value': entry.newsletterPage, 'object': 'newsletter_page' } %}
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.orderNumber', 'value': entry.orderNumber } %}
	{% include 'common/fields/simple_field.html.twig' with 
		{ 'label': 'label.newsletterBlockTemplate', 'value': entry.newsletterBlockTemplate, 'object': 'newsletter_block_template' } %}
		
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.xAdvertRatio', 'value': entry.xAdvertRatio } %}
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.yAdvertRatio', 'value': entry.yAdvertRatio } %}
	
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.xArticleRatio', 'value': entry.xArticleRatio } %}
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.yArticleRatio', 'value': entry.yArticleRatio } %}
		
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.xMagazineRatio', 'value': entry.xMagazineRatio } %}
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.yMagazineRatio', 'value': entry.yMagazineRatio } %}
		
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.magazinePadding', 'value': entry.magazinePadding } %}
		
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.articleSeparator', 'value': entry.articleSeparator } %}
		
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterBlock.magazineSeparator', 'value': entry.magazineSeparator } %}
{% endblock %}

{% block assignments %}
	{% include 'admin/newsletter_block/assignments.html.twig' %}
{% endblock %}