{% extends 'admin/show.html.twig' %}

{% set title = 'title.articles'|trans %}
{% set mainPath = 'article' %}
{% set gender = 'm.' %}

{% block content %}
	<div class="container">
		<div class="col-sm-9">
			{% include 'common/article/preview.html.twig' with { 'entry': entry } %}
		</div>
	</div>
{% endblock %}