{% extends 'admin/show.html.twig' %}

{% set title = 'label.articles'|trans %}
{% set mainPath = mainPath|default('article') %}
{% set extPath = '_preview' %}
{% set gender = 'm.' %}


{% block content %}
	<div class="container">
		<div class="col-sm-9">
			{% include 'common/article/article.html.twig' with { 'entry': entry } %}
		</div>
	</div>
{% endblock %}