{% extends 'admin/_image/show.html.twig' %}

{% set title = 'label.articles'|trans %}
{% set mainPath = 'article' %}
{% set gender = 'm.' %}

{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name ~ ' ' ~ entry.subname } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/_image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: 'label.' ~ gender ~ 'featured', value: entry.featured } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.article.parent', value: entry.parent,
		object: 'article', routeId: entry.id } %}

	<div class="vr-space-40"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.article.page', value: entry.page } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.orderNumber', value: entry.orderNumber } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.article.layout', value: articleLayoutName(entry.layout)|trans } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.article.imageSize', value: articleImageSizeName(entry.imageSize)|trans } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/date_field.html.twig' with 
	{ label: 'label.article.date', value: entry.date } %}
	
	{% include 'common/fields/date_field.html.twig' with 
	{ label: 'label.article.endDate', value: entry.endDate } %}
	
	{% include 'common/fields/user_field.html.twig' with 
	{ label: 'label.article.author', value: entry.author } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/content_field.html.twig' with 
	{ label: 'label.intro', value: entry.intro } %}
	
	{% include 'common/fields/content_field.html.twig' with 
	{ label: 'label.content', value: entry.content } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/_simple/components/show/audit_fields.twig' %}
{% endblock %}

{% block actions %}
	{% include 'admin/article/components/show/actions.twig' %}
{% endblock %}

{% block assignments %}
	{% include 'admin/article/components/assignments.html.twig' %}
{% endblock %}