{% extends 'infomarket/base/index.html.twig' %}

{% set title = 'label.categories' %}
{% set type = 'label.categories' %}
{% set mainPath = 'category' %}

{% block mainContent %}
	<div class="row">
		<div class="col-xs-12">
			{% for category in entries %}
				<div class="col-sm-3">
					{% include 'common/bottom_rect_tile.html.twig' with {'entry': category } %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
