<div class="row">
	<div class="col-xs-12">
		{% for category in entry.children %}
			{% if category.infomarket %}
				<div class="col-sm-3">
					{% include 'common/tiles/bottom_rect_tile.twig' with {'entry': category } %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>