{% extends 'infomarket/base/show.html.twig' %}

{% set type = 'label.categories' %}
{% set mainPath = 'category' %}
	
{% set listName = 'label.categories'|trans %}

{% block baseMoreBreadcrumbs%}
	
	{% for chainEntry in entry.getParentChain %}
		/
		<a href="{{ path(basePath ~ mainPath ~ '_show', { id: chainEntry.id }) }}">
			{{ chainEntry.name }} {{ chainEntry.subname }}
		</a>
	{% endfor %}
	
	{% block categoryMoreBreadcrumbs%}
	{% endblock %}
	
{% endblock %}
	
{% block mainContent %}

	{% if entry.parent and entry.parent.getPreleaf %}
		{% include 'infomarket/category/show_ratings.html.twig' %}
	{% else %}
		{% include 'infomarket/category/show_subcategories.html.twig' %}
	{% endif %}
	
{% endblock %}
