<div class="row">
	<div class="col-xs-12">
		{% for category in entry.children %}
			<div class="col-sm-3">
				{% include 'common/bottom_rect_tile.html.twig' with {'entry': category } %}
			</div>
		{% endfor %}
	</div>
</div>