{% extends 'admin/simple/editor.html.twig' %}

{% set mainPath = 'link' %}
{% set title = 'title.links'|trans %}
{% set gender = 'm.' %}


{% block contentFields %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.infomarket, label: 'label.' ~ gender ~ 'infomarket', xs: 6, md: 3 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.infoprodukt, label: 'label.' ~ gender ~ 'infoprodukt', xs: 6, md: 3 } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.url, label: 'label.url' } %}
{%  endblock %}