{% set hidden = hidden|default('') %}

{% set icon = icon|default('') %}
{% set label = label|default('') %}
{% set type = type|default('btn-primary') %}
{% set offset = offset|default('') %}

<div class="col-xs-12 col-sm-6 col-lg-3 padding-5 {{ hidden }} {{ offset }}">
	{{ form_widget(field, { icon: icon, label: label, attr: { class: 'btn btn-block ' ~ type } }) }}
</div>