{% extends 'admin/base/index.html.twig' %}

{% set mainPath = 'newsletter_block_advert_assignment' %}
{% set title = 'title.newsletter_block_advert_assignments'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.newsletterBlocks, { 'label': 'label.newsletterBlocks' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.adverts, { 'label': 'label.adverts' }) }}
	</li>
{% endblock %}

{% block headerMainFields1 %}
	<th><i class="fa fa-"></i> {{ 'label.newsletterBlock'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.advert'|trans }}</th>
{% endblock %}

{% block entryMainFields1 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'newsletter_block', value: { id: item.newsletterBlockId, name: item.newsletterBlockName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'advert', value: { id: item.advertId, name: item.advertName } } %}
	</td>
{% endblock %}