{% extends 'admin/simple/show.html.twig' %}

{% set mainPath = 'newsletter_block_advert_assignment' %}
{% set title = 'title.newsletter_block_advert_assignments'|trans %}


{% block contentFields %}	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.newsletterBlock', value: entry.newsletterBlock,
		object: 'newsletter_block', routeId: entry.id } %}
		
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.advert', value: entry.advert,
		object: 'advert', routeId: entry.id } %}
		
	<div class="vr-space-40"></div>
	
	{% include 'admin/simple/components/show/audit_fields.twig' %}
{% endblock %}