services:
    # Product Creators & Updaters
    AppBundle\Logic\Common\Product\ItemsCreator\ProductItemsCreator:
        arguments:
            - '@AppBundle\Repository\Admin\Main\CategoryRepository'
            - '@AppBundle\Repository\Admin\Assignments\ProductCategoryAssignmentRepository'
            - '@app.logic.common.product.creator.items.product_values_creator'
            - '@app.logic.common.product.creator.items.product_scores_creator'
            - '@app.logic.common.product.creator.items.product_notes_creator'
            - '@app.logic.common.product.creator.items.category_distributions_creator'
            - '@app.logic.common.product.creator.items.category_summaries_creator'
    AppBundle\Logic\Common\Product\ItemsUpdater\ProductItemsUpdater:
        arguments:
            - '@AppBundle\Repository\Admin\Other\ProductScoreRepository'
            - '@app.logic.common.product.updater.items.product_scores_updater'
            - '@AppBundle\Repository\Admin\Other\CategoryDistributionRepository'
            - '@app.logic.common.product.updater.items.category_distributions_updater'
            - '@AppBundle\Repository\Admin\Other\CategorySummaryRepository'
            - '@app.logic.common.product.updater.items.category_summaries_updater'
            - '@AppBundle\Repository\Admin\Other\ProductNoteRepository'
            - '@app.logic.common.product.updater.items.product_notes_updater'

    # Items Creators
    app.logic.common.product.creator.items.category_distributions_creator:
        class: AppBundle\Logic\Common\Product\ItemsCreator\DependentItemsCreator
        arguments:
            - '@AppBundle\Repository\Admin\Other\CategoryDistributionRepository'
    app.logic.common.product.creator.items.category_summaries_creator:
        class: AppBundle\Logic\Common\Product\ItemsCreator\DependentItemsCreator
        arguments:
            - '@AppBundle\Repository\Admin\Other\CategorySummaryRepository'
    app.logic.common.product.creator.items.product_notes_creator:
        class: AppBundle\Logic\Common\Product\ItemsCreator\DependentItemsCreator
        arguments:
            - '@AppBundle\Repository\Admin\Other\ProductNoteRepository'
    app.logic.common.product.creator.items.product_scores_creator:
        class: AppBundle\Logic\Common\Product\ItemsCreator\DependentItemsCreator
        arguments:
            - '@AppBundle\Repository\Admin\Other\ProductScoreRepository'
    app.logic.common.product.creator.items.product_values_creator:
        class: AppBundle\Logic\Common\Product\ItemsCreator\DependentItemsCreator
        arguments:
            - '@AppBundle\Repository\Admin\Other\ProductValueRepository'
                            
    # Items Updaters
    app.logic.common.product.updater.items.category_distributions_updater:
        class: AppBundle\Logic\Common\Product\ItemsUpdater\ItemsUpdater
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Logic\Common\Product\ItemUpdater\CategoryDistributionUpdater'
            - 240
    app.logic.common.product.updater.items.category_summaries_updater:
        class: AppBundle\Logic\Common\Product\ItemsUpdater\ItemsUpdater
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Logic\Common\Product\ItemUpdater\CategorySummaryUpdater'
            - 240
    app.logic.common.product.updater.items.product_notes_updater:
        class: AppBundle\Logic\Common\Product\ItemsUpdater\ItemsUpdater
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Logic\Common\Product\ItemUpdater\ProductNoteUpdater'
            - 240
    app.logic.common.product.updater.items.product_scores_updater:
        class: AppBundle\Logic\Common\Product\ItemsUpdater\ItemsUpdater
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Logic\Common\Product\ItemUpdater\ProductScoreUpdater'
            - 240
                        
    # Item Updaters
    AppBundle\Logic\Common\Product\ItemUpdater\CategoryDistributionUpdater:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Utils\Entity\DataBase\BenchmarkFieldDataBaseUtils'
    AppBundle\Logic\Common\Product\ItemUpdater\CategorySummaryUpdater:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Repository\Benchmark\ProductRepository'
    AppBundle\Logic\Common\Product\ItemUpdater\ProductNoteUpdater:
        arguments:
            - '@doctrine.orm.entity_manager'
    AppBundle\Logic\Common\Product\ItemUpdater\ProductScoreUpdater:
        arguments:
            - '@doctrine.orm.entity_manager'