@import "common.less";



.content {
	margin-top: 58px;
	margin-bottom: 58px;
	min-height: 641px;
}

.info-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.brand-image {
	margin-top: -39px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
  	z-index: 10;
}

.footer {
  	color: @white;
  	background: @gray-darker;
	
  	margin-top: 5px;
  	margin-bottom: 75px;
}

.footer a {
	color: @gray-lighter;
}

.footer a:hover,
.footer a:focus {
	color: @white;
}




				
				
				
.nav-horizontal > li {
    display: inline-block;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}

.navbar-fixed-top {
	color: @gray-lighter;
    background-color: @brand-primary;
    border: 0px transparent;
}

.navbar-fixed-bottom {
	color: @gray-lighter;
    background-color: @brand-primary;
    border: 0px transparent;
}

ul.navbar-nav > li > a {
	padding-top: 18px;
	padding-bottom: 12px;
	
	margin-top: -5px;
	margin-bottom: -5px;
}

.navbar-collapse ul.navbar-nav > li > a {
	padding-top: 33px;
	padding-bottom: 2px;
	
	margin-top: -5px;
	margin-bottom: -5px;
}

.navbar-brand {
	margin-left: 5px !important;
	background-color: @brand-gray-light !important;
}

@media (max-width: 992px) {
	.navbar-brand {
		margin-left: 10px !important;
	}
}

.navbar-default {
	color: @gray-lighter;
    background-color: @brand-primary;
}

.navbar-default .navbar-nav li > a {
    color: @brand-primary;
}

.navbar-default .navbar-nav > li > a {
    color: @gray-lighter;
}



.navbar-inverse {
	color: @gray-lighter;
    background-color: @gray;
}

.navbar-inverse a {
    color: @white;
}

.navbar-inverse a:hover,
.navbar-inverse a:focus {
    color: @brand-primary;
}




.dropdown-menu > li > a {
	color: @brand-primary;
}




.thumb {
    padding-bottom: 100%;
}

.thumb img,
.thumb div {
	width:100%;
	
	bottom: 0;
	position: absolute;
}




.section.title {
	padding: 0px;
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
}



.tile h4 {
	padding-top: 5px;
	padding-left: 5px;
}

.tile h5 {
	padding-left: 5px;
}

.tile a {
	color: @gray-lighter;
}

.tile a:hover,
.tile a:focus {
	color: @gray-darker;
}

.tile.branch-0 {
	background-color: @gray-light;
}

.tile .title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.tile .subtitle {
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

div.tile .tile-heading {
	background: rgba(0,0,0,0.4);
}

.tile.default {
	height: 85px;
}

.tile.default .title {
	margin: 0px;
	text-align: left;
	text-weight: bold;
}

.tile.bottom-rect {
	height: 22px;
	
	margin-bottom: 2px;
}

.tile.bottom-rect-3 {
	height: 62px;
	
	margin-bottom: 2px;
}

.tile.bottom-rect .title {
	margin: 0px;
	
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	
	text-align: center;
	text-weight: bold;
}

					
.well {
	margin-top: 25px;
	background-color: @white;
	border: transparent;
	border-radius:0;
}

.panel {
    border-radius:0;
}

.breadcrumb {
	background-color: transparent;
}





nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav.sidebar .navbar-nav > li:first-child {
	border-top: 5px @red solid;
}

nav.sidebar .navbar-nav > li {
	border-bottom: 5px @blue solid;
}

.item .article-rect {
	height: 100px;
}









.home-blue {
	background: @blue;
}

.home-gray-dark {
	background: @brand-gray-dark;
}





ul.news {
	list-style: square url("../img/square.png");
}

ul.news > li {
	//font-size: @font-size-li;
}

ul.news > li span {
	//font-size: @font-size-base;
}

.useful-tile-bottom {
	padding: 0px;
	padding-top: 2px;
}