@white: #ffffff;

@red: #ca0324;
@blue: #004373;
@green: #40a635;
@yellow: #edd70f;

@brand-gray-light: #f2f2f2;
@brand-gray-dark: #dfdfdf;

@link-hover-decoration: none;

@padding: 10px;

@brand-primary: @blue;
@brand-info: @blue;
@brand-danger: @red;

@font-size-base: 14pt;