<tr>
	<th class="text-right">{{ field.fieldName }}</th>
	
	<td class="text-center">{{field. value ? '+' : '-' }}</td>
	<td class="text-center text-success">{{ field.betterThan ? field.betterThan|number_format(0, '.', ' ') ~ '%' : '-' }}</td> {# &nbsp; #}
	<td class="text-center">{{ field.note ? field.note|number_format(1, '.', ' ') : '-' }}</td> {# &nbsp; #}
	
	<td></td>
</tr>