<tr>
	<th class="text-right">{{ 'label.benchmark.product.price'|trans }}</th>
	
	<td class="text-center">
		{{ value is not null ? value|number_format(2, '.', ' ') : '' }}
	</td>
	<td class="text-center">-</td>
	<td class="text-center">-</td>
	
	<td></td>
</tr>