<tr>
	<th class="text-right">{{ 'label.price'|trans }}</th>
	
	<td class="text-center">{{ value|number_format(2, '.', ' ') }}</td> {# &nbsp; #}
	<td class="text-center">-</td>
	<td class="text-center">-</td>
	
	<td></td>
</tr>