{% extends 'benchmark/simple/show.html.twig' %}

{% block simpleMainFields2Prev %}

    <div class="row">
	    <div class="col-xs-6 col-sm-4 col-md-3">
	    	<div class="rect">
	    		{% if entry.image %}
					{% include 'common/image/image_entry.html.twig' with { 'entry': entry } %}
				{% endif %}
			</div>
		</div>
		<div class="col-xs-6 col-sm-8 col-md-9">
			{% block imageMainFields2More %}
			{% endblock %}
		</div>
	</div>
	
	<div class="row lowered-25"></div>
{% endblock %}