{% extends 'admin/simple/show.html.twig' %}

{% set mainPath = 'newsletter_user_newsletter_group_assignment' %}
{% set title = 'label.newsletter_user_newsletter_group_assignments'|trans %}


{% block contentFields %}	
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.newsletterUser', value: entry.newsletterUser,
		object: 'newsletter_user', routeId: entry.id } %}
		
	{% include 'common/fields/simple_field.html.twig' with 
	{ label: 'label.newsletterGroup', value: entry.newsletterGroup,
		object: 'newsletter_group', routeId: entry.id } %}
		
	<div class="vr-space-40"></div>
	
	{% include 'admin/simple/components/show/audit_fields.twig' %}
{% endblock %}