{% if image %}
    <div class="col-xs-12">
    	<div class="rect-2x1">
			<img alt="{{ entry.name|raw }}" src="{{ asset(image) }}" class="div-center" />
		</div>
	</div>
{% endif %}

{% include 'common/editor/form_field.twig' with 
{ field: field, label: label } %}