{% extends 'admin/base/index.html.twig' %}

{% set mainPath = 'article_tag_assignment' %}
{% set title = 'title.article_tag_assignments'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.tags, { 'label': 'label.tags' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.articles, { 'label': 'label.articles' }) }}
	</li>
{% endblock %}

{% block headerMainFields1 %}
	<th><i class="fa fa-"></i> {{ 'label.article'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.tag'|trans }}</th>
{% endblock %}

{% block entryMainFields1 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'article', value: { id: item.articleId, name: item.articleName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'tag', value: { id: item.tagId, name: item.tagName } } %}
	</td>
{% endblock %}