{% extends 'admin/featured/index.html.twig' %}

{% set mainPath = 'magazine' %}
{% set title = 'title.magazines'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.branches, { 'label': 'label.branches' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.categories, { 'label': 'label.categories' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.parents, { 'label': 'label.magazine.parents' }) }}
	</li>
{% endblock %}