{% extends 'admin/_image/show.html.twig' %}

{% set mainPath = 'magazine' %}
{% set title = 'label.magazines'|trans %}
{% set gender = 'm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.name } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/_image/components/show/image.twig' %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/bool_field.html.twig' with 
		{ label: 'label.' ~ gender ~ 'infomarket', value: entry.infomarket } %}
	{% include 'common/fields/bool_field.html.twig' with 
		{ label: 'label.' ~ gender ~ 'infoprodukt', value: entry.infoprodukt } %}
	{% include 'common/fields/bool_field.html.twig' with 
		{ label: 'label.' ~ gender ~ 'featured', value: entry.featured } %}
	
	<div class="vr-space-40"></div>
		
	{% include 'common/fields/bool_field.html.twig' with 
	{ label: ('label.main')|trans, value: entry.main } %}
	
	{% include 'common/fields/simple_field.html.twig' with 
		{ label: 'label.magazine.parent', value: entry.parent,
			object: 'magazine', routeId: entry.id } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.orderNumber'|trans, value: entry.orderNumber } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: ('label.magazine.magazineFile')|trans, value: entry.magazineFile } %}
	
	{% include 'common/fields/content_field.html.twig' with 
	{ label: 'label.content', value: entry.content } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'admin/_simple/components/show/audit_fields.twig' %}
{% endblock %}

{% block assignments %}
	{% include 'admin/magazine/components/assignments.html.twig' %}
{% endblock %}