{% extends 'admin/list.html.twig' %}

{% set hidden = isAdmin ? "" : "hidden" %}

{% block listMoreJavascripts %}
	<script type="text/javascript">
		$(function () {
			$('div.date').datetimepicker();
		});
	</script>
	
	{% block baseMoreJavascripts %}
	{% endblock %}
{% endblock %}



{% block filterSearchActions %}
	{% include 'common/fields/filter/button_field.html.twig' 
		with { field: filter.search, icon: 'fa-search', label: 'action.search' } %}
	{% include 'common/fields/filter/button_field.html.twig' 
		with { field: filter.clear, icon: 'fa-eraser', label: 'action.clear', type: 'btn-warning' } %}
{% endblock %}
							
							
							
{% block mainActions %}
	
	{% set hidden = canSelect ? "" : "hidden" %}
	<div class="btn-group {{ hidden }}">
		{% include 'common/buttons/widget_button.html.twig' with 
			{ action: form.selectAll, icon: 'fa-check-square-o', 
				tooltip: 'action.selectAll' } %}
		
		{% include 'common/buttons/widget_button.html.twig' with 
			{ action: form.selectNone, icon: 'fa-square-o', 
				tooltip: 'action.selectNone' } %}
	</div>
	
	{% if canCreate %}
		<a type="button" class="btn btn-success" title="{{ 'action.new'|trans }}"
			href="{{ path(basePath ~ mainPath ~ '_new') }}">
			<i class="fa fa-plus"></i>
		</a>
	{% endif %}
	
	{% block baseMainActions %}
	{% endblock %}
{% endblock %}

{% block moreActions %}
	
	{% set hidden = canDelete ? "" : "hidden" %}
		
	{% set confirm = 'return confirm("' ~ 'confirm.deleteSelected'|trans ~ '")' %}
	<div class="btn-group {{ hidden }}">
		{% include 'common/buttons/widget_button.html.twig' with 
			{ action: form.deleteSelected, icon: 'fa-trash', type: 'btn-danger',
				tooltip: 'action.deleteSelected', onclick: confirm } %}
	</div>
	
	{% block baseMoreActions %}
	{% endblock %}
{% endblock %}




{% block headerActions %}
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ class: 'actions', icon: 'fa-play', label: 'label.actions' } %}
{% endblock %}



{% block entryActions %}
	<td>
		{% include 'admin/common/buttons/action_button.twig' with 
		{ extPath: '_show', routeParams: { id: item.id }, 
			tooltip: 'action.show', icon: 'fa-eye' } %}
		
		{% if canEdit %}
			{% include 'admin/common/buttons/action_button.twig' with 
			{ extPath: '_edit', routeParams: { id: item.id }, 
				tooltip: 'action.edit', icon: 'fa-edit', type: 'btn-success' } %}
		{% endif %}
		{% if canCopy %}
			{% include 'admin/common/buttons/action_button.twig' with 
			{ extPath: '_copy', routeParams: { id: item.id }, 
				tooltip: 'action.copy', icon: 'fa-copy', type: 'btn-warning' } %}
		{% endif %}
		{% if canDelete %}
			{% include 'admin/common/buttons/action_button.twig' with 
			{ extPath: '_delete', routeParams: { id: item.id }, 
				tooltip: 'action.delete', icon: 'fa-trash', type: 'btn-danger',
				onclick: 'return confirm(' ~ 'confirm.delete'|trans ~ ')' } %}
		{% endif %}
	</td>
{% endblock %}