{% extends 'infomarket/base/base.html.twig' %}

{% block moreBreadcrumbs %}
	
	/ 
	<a href="{{ path(basePath ~ mainPath) }}">
		{{ type|trans }}
	</a>
	{% block baseMoreBreadcrumbs%}
	{% endblock %}
	
{% endblock %}
