{% extends 'infomarket/base/base.html.twig' %}

{% set title = entry.name|raw %}

{% block moreBreadcrumbs %}

	/ 
	<a href="{{ path(basePath ~ mainPath) }}">
		{{ type|trans }}
	</a>
	{% block baseMoreBreadcrumbs%}
	{% endblock %}
	/ 
	<a href="{{ path(basePath ~ mainPath ~ '_show', { id: entry.id }) }}">
		{{ title|trans }}
	</a>
	
{% endblock %}