AppBundle\Entity\Main\Category:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: [name, subname, parent]
            errorPath: name
            ignoreNull: false
            message: 'category.name.unique'
    properties:
        name:
            - NotBlank: ~
            - AppBundle\Validator\Constraints\ContainsSeparator: ~
        orderNumber:
            - NotBlank: ~
            - Range:
                min: 0
                max: 99
        children:
            - Count:
                groups: [removal]
                max: 0
                exactMessage: category.usedIn.children
        articleCategoryAssignments:
            - Count:
                groups: [removal]
                max: 0
                exactMessage: category.usedIn.articleCategoryAssignments
        brandCategoryAssignments:
            - Count:
                groups: [removal]
                max: 0
                exactMessage: category.usedIn.brandCategoryAssignments
        productCategoryAssignments:
            - Count:
                groups: [removal]
                max: 0
                exactMessage: category.usedIn.productCategoryAssignments
        termCategoryAssignments:
            - Count:
                groups: [removal]
                max: 0
                exactMessage: category.usedIn.termCategoryAssignments
                