{% extends 'infomarket/index.html.twig' %}

{% set title = 'InfoMarket' %}
{% set mainPath = 'home' %}

{% block body %}
	<div class="container bkg-white full-content">
		{% block logo %}
			<div class="row">
				<div class="col-md-6 col-md-push-3">
					<div class="rect-2x1">
						<img class="div-center img-responsive" src="{{ asset('img/logo-infomarket.png') }}" />
					</div>
				</div>
			</div>
		{% endblock %}
		
		{% block branches %}
			<div class="row">
				{% for branch in branches %}
					<div class="col-xs-12 padding-5 no-side-padding">
						<div class="rect-3x1 no-padding">
							{% if branch.infomarket %}
								<a href="{{ path(basePath ~ mainPath, { branch: branch.id }) }}">
							{% endif %}
							
							<img class="div-center img-responsive" src="{{ asset(branch.image) }}" />
							
							<div class="col-xs-12 bkg-black-50">
								<h2 class="text-center text-white">
									{{ branch.name | upper }}
								</h2>
							</div>
							
							{% if branch.infomarket %}
								</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	</div>
{% endblock %}