<div class="col-xs-12 well">
	{#{% block sidebarContent %}#}
		{#{% block userBlock %}#}
			{#<h3>{{ 'label.user'|trans }}</h3>#}
			{#{% include 'common/menu/user_menu.html.twig' %}#}
		{#{% endblock %}#}
		{##}
		{#{% block sectionsBlock %}#}
			{#<h3>{{ 'label.sections'|trans }}</h3>#}
			{#{% include 'infoprodukt/common/sections.html.twig' with { 'category': entry } %}#}
		{#{% endblock %}#}
	{#{% endblock %}#}
</div>

<div class="col-xs-12 no-padding">
	{% block sidebarAds %}
		{% include "infoprodukt/common/sidebar_ads.twig" %}
	{% endblock %}
</div>
