<div class="social-menu hidden-xs hidden-sm">
{# 	<div class="row">#}
{# 		<a href="https://instagram.com/infomarket_edu_pl/">#}
{# 			<div class="social-button">#}
{# 				<span class="div-center fa fa-instagram"></span>#}
{# 			</div>#}
{# 		</a>#}
{# 	</div>#}
{# 	<div class="row">#}
{# 		<a href="https://pinterest.com/kamilgalicki/">#}
{# 			<div class="social-button red">#}
{# 				<span class="div-center fa fa-pinterest"></span>#}
{# 			</div>#}
{# 		</a>#}
{# 	</div>#}
{# 	<div class="row">#}
{# 		<a href="https://facebook.com/infomarket1">#}
{# 			<div class="social-button">#}
{# 				<span class="div-center fa fa-facebook"></span>#}
{# 			</div>#}
{# 		</a>#}
{# 	</div>#}
	<div class="row">
		<a href="https://youtube.com/channel/UCpH2PHKAxnNlX-zSgJXyjpA">
			<div class="social-button red">
				<span class="div-center fa fa-youtube"></span>
			</div>
		</a>
	</div>
	{#<div class="row">#}
		{#<a href="https://infomarket.edu.pl">#}
			{#<div class="social-button">#}
				{#<span class="div-center"><span class="text-red">I</span>M</span>#}
			{#</div>#}
		{#</a>#}
	{#</div>#}
	{#<div class="row">#}
		{#<a href="{{ path(basePath ~ 'article', { article_filter_article_categories: [12] }) }}">#}
			{#<div class="social-button red">#}
				{#<span class="div-center fa fa-balance-scale"></span>#}
			{#</div>#}
		{#</a>#}
	{#</div>#}
</div>
