{% extends 'admin/user/editor.html.twig' %}

{% set mainPath = 'user' %}
{% set title = 'title.user.settings'|trans %}
{% set gender = 'm.' %}

{% block moreActions1 %}
    <div class="btn-group">
		<a type="button" class="btn btn-primary" href="{{ path('fos_user_change_password', {}) }}">
	    	<i class="fa fa-key"></i> {{ 'action.user.changePassword'|trans }}
		</a>
    </div>
{% endblock %}