{% extends 'admin/base/show.html.twig' %}

{% set mainPath = 'user' %}
{% set title = 'title.users'|trans %}
{% set gender = 'm.' %}


{% block headerFields %}
	{% include 'common/fields/header_field.html.twig' with 
	{ value: entry.username|raw } %}
{% endblock %}

{% block contentFields %}
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.user.email'|trans, value: entry.email } %}
	
	<div class="vr-space-40"></div>
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.user.forename'|trans, value: entry.forename } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.user.surname'|trans, value: entry.surname } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ label: 'label.user.pseudonym'|trans, value: entry.pseudonym } %}
{% endblock %}