<div class="row">
	<div class="col-xs-6">
		{% include 'benchmark/_item/components/editor/actions.twig' %}
	</div>
	
	<div class="col-xs-6">
		{% if entry.id %}
			{% include 'common/buttons/action_button.twig' with 
			{ mainPath: 'product', extPath: '_show', routeParams: { id: entry.id }, 
				icon: 'fa-bar-chart', tooltip: 'action.show' } %}
				
			{% include 'common/buttons/action_button.twig' with 
			{ mainPath: 'product', extPath: '_compare', routeParams: { id: entry.id },
				icon: 'fa-balance-scale', tooltip: 'action.compare', type: 'btn-warning' } %}
		{% endif %}
	</div>
</div>